/vendor
/.idea
/.github
/.git
/node_modules
/frontend/node_modules
/frontend/.angular
/frontend/coverage
/frontend/test-results
/frontend/playwright-report
/frontend/e2e
/dist
/backend
/docs
/coverage
/test-results
/playwright-report
/e2e
**/.angular
